@page "/"

<PageTitle>Home</PageTitle>

@{
    var pages = new Dictionary<string, string> { { "Roulette", "/roulette" }, { "Poker", "/poker" }, { "Plinko", "/plinko" } };
}

<div class="grid">
    @foreach (var kvp in pages)
    {
        <div class="btn-containers">
            <a class="game-btns" href=@kvp.Value>@kvp.Key</a>
        </div>
    }
</div>
